*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #293039;
    font-family: 'Questrial', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}

.header__img-container{
    display: flex;
    justify-content: center;
}
.header__profile{
    width: 200px;
}

.header__encabezado{
    color: #ffffff;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 1px 1px 0 #c4c5d0;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

.header__subtitle{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5BC0A5;
}

.img-social{
    width: 20px;
}

.header__social{
    display: flex;
    justify-content: center;
}

.header__social a{
    margin-right: 10px;
}

 .text-social{
    text-align: center;
    color: #F1B385;
    margin-bottom: 10px;
}


