*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #293039;
    font-family: 'Questrial', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    margin-top: 10%;
}

.header__img-container{
    display: flex;
    justify-content: center;
}
.header__profile{
    width: 260px;
}

.header__encabezado{
    color: #ffffff;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 1px 1px 0 #c4c5d0;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

.header__subtitle{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5BC0A5;
}
.header__text{
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}

.img-social{
    width: 30px;
}

.header__social{
    display: flex;
    justify-content: center;
}

.header__social a{
    margin-right: 10px;
}

 .text-social{
    text-align: center;
    font-size: 1.5rem;
    color: #F1B385;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info{
    padding:50px;
}

.info__content{
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 12px;
}

.info__content-green{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: #5BC0A5;
    margin-bottom: 12px;
}

.info__link{
    color: #F1B385;
    text-decoration: none;
    cursor: pointer;
}


